# AirBnB NY Locations Data Case Study

In this final project, you task will be to take the data provided and find evidance to answer the following questions.

1. Which hosts are the busiest and why?
2. How many neighborhood groups are available and which shows up the most?
3. Are private rooms the most popular in manhattan?
4. Which hosts are the busiest and based on their reviews?
5. Which neighorhood group has the highest average price?
6. Which neighborhood group has the highest total price?
7. Which top 5 hosts have the highest total price?
8. Who currently has no (zero) availability with a review count of 100 or more?
9. What host has the highest total of prices and where are they located?
10. When did Danielle from Queens last receive a review?

You will be given **4 hours** to complete this assignment. 
**Be Advised** I will go dark for this intire assignment time period. That said, any questions that you would like to ask about the data, or the project **MUST** be asked before the time starts. Once the time has started, I can no longer give information.

This is to similate what you will face when you are out in the wild. 

Happy Coding!

In [11]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [21]:
air_bnb = pd.read_csv('files/AB_NYC_2019.csv')
air_bnb.head(3)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365

In [20]:
# How many neighborhood groups are available and which shows up the most?
pd.DataFrame(air_bnb)
air_bnb.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365'],
      dtype='object')

In [35]:
# Are private rooms the most popular in manhattan? No, private rooms are most popular in Brooklyn
# air_bnb[['neighbourhood_group','room_type']]
air_bnb[(air_bnb['room_type']=='Private room') & (air_bnb['neighbourhood_group']=='Manhattan')]
air_bnb.groupby(['room_type','neighbourhood_group']).size()

room_type        neighbourhood_group
Entire home/apt  Bronx                    379
                 Brooklyn                9559
                 Manhattan              13199
                 Queens                  2096
                 Staten Island            176
Private room     Bronx                    652
                 Brooklyn               10132
                 Manhattan               7982
                 Queens                  3372
                 Staten Island            188
Shared room      Bronx                     60
                 Brooklyn                 413
                 Manhattan                480
                 Queens                   198
                 Staten Island              9
dtype: int64

In [37]:
# Which hosts are the busiest and based on their reviews?
air_bnb.groupby(['host_id','number_of_reviews']).size()

host_id    number_of_reviews
2438       1                    1
2571       27                   1
2787       9                    1
           15                   1
           17                   1
                               ..
274273284  0                    1
274298453  0                    1
274307600  0                    1
274311461  0                    1
274321313  0                    1
Length: 45422, dtype: int64

In [38]:
#Which neighorhood group has the highest average price?
air_bnb.groupby(['neighbourhood_group','price']).size()

neighbourhood_group  price
Bronx                0        1
                     10       1
                     20       6
                     21       1
                     22       2
                             ..
Staten Island        700      1
                     800      1
                     1000     1
                     1250     1
                     5000     1
Length: 1542, dtype: int64

In [ ]:
# Which neighborhood group has the highest total price?
air_bnb.groupby(['neighbourhood_group','price']).size()

In [41]:
#Which top 5 hosts have the highest total price
high_price = air_bnb.groupby('host_name')['host_name','price'].sum().sort_values('price', ascending = False)
print(high_price.head(5))

              price
host_name
Sonder (NYC)  82795
Blueground    70331
Michael       66895
David         65844
Alex          52563

C:\Users\Mama\anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

In [42]:
# Who currently has no (zero) availability with a review count of 100 or more?

zero_hundred = air_bnb[(air_bnb['availability_365']==0) & (air_bnb['number_of_reviews'] >= 100)]

In [ ]:
# What host has the highest total of prices and where are they located?

In [ ]:
# When did Danielle from Queens last receive a review?

## Further Questions

1. Which host has the most listings?

2. How many listings have completely open availability?

3. What room_types have the highest review numbers?

# Final Conclusion

In this cell, write your final conclusion for each of the questions asked.

Also, if you uncovered some more details that were not asked above, please discribe them here.

-- Add your conclusion --